.pos-relative{
    position: relative;
}
.dropdown-Container{
    color: black;
    position: absolute;
    z-index: 1;
    width: 95%;
    height: 200px;
    background: #f6f6f6;
    overflow-y: auto;
}

.cities:hover{
    background: #c2c2c2;
}