#city {
    height: 300px;
    border-radius: 10px;
    background: #89c6e0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  #weatherRow {
    text-align: center;
    display: block;
    margin: 0 auto;
    width: fit-content;
  }